* { box-sizing: border-box; }

body { font-family: sans-serif; }

footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .center-header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
  }

  .center-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    font-size: 22pt;
  }

#sticky.fixed {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
}

  .GeneratedMarquee {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
    line-height:1.3em;
    color:#000000;
    background-color: #ffffff;
    overflow: hidden;
    padding:0.3em;
    margin-bottom: 2em;
    border: solid;
    border-left-style: none;
    border-right-style: none;
    }

    .marquee-alternative {
      overflow: hidden;
      width: 100%;
    }

    .right-to-left p {
      margin: 0;
      width: fit-content;
    }

    @keyframes marquee-right-to-left{
      from {
        transform: translateX(100vw);
      }
      to {
        transform: translateX(-100%);
      }
    }

    .marquee-alternative p {
      font-family: "Jersey 10", sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 24px;
      margin: 10px;
      width: fit-content;
      animation-name: marquee-right-to-left;
      animation-duration: 300s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }

    .marquee-alternative p {
      width: fit-content;
      /* animation got removed here */
    }

    .marquee-container {
      display: flex;
      align-items: center;
      border: 2px solid #000;
      width: 100%;
      background-color: white;
      border-left-style: none;
      border-right-style: none;
    }
    
    .marquee-content {
      margin: 0;
      width: fit-content;
    }

    .btn {
      cursor: pointer;
      background-color: white;
      border: 0;
      margin-left: 5px;
      margin-right: 5px;
      padding: 1.1rem 1rem;
      background-image: url(images/play\ pause.svg);
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    .btn span {
      display: none;
    }
    
    .btn:hover,
    .btn:focus-visible,
    .btn[aria-pressed="true"]:hover {
      background-color: white;
    }

    #rotate {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
  }

  .libre-barcode-128-text-regular {
    font-family: "Libre Barcode 128 Text", system-ui;
    font-weight: 400;
    font-style: normal;
  }

  .jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

/* ---- grid ---- */

.grid {
 width: 100%;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
    margin-bottom: 5em;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

.grid-item-2 {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    margin-bottom: 5em;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
}

/* ---- hide / show about info ---- */

input[type=button] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
  }

  #hideshow {
	border: none;
	outline: none;
	padding:0;
	color:#000000;
	background-color: white;
	cursor: pointer;
	display:-webkit-flex;
	display:flex;
	-webkit-flex-direction:column;
	flex-direction:column;
	-webkit-align-items:center;
	align-items:center;
	justify-content:center; 
  }

  #about {
	margin-top: 1em;
  }

  @media screen and (max-width: 1000px) {
    .center-header {
      max-width: 65%;
    }

    .sticky {
      position:inherit;
    }

    .marquee-alternative p {
      animation-duration: 330s;
    }
  }

  @media screen and (max-width: 800px) {
	#column {
	  flex: 100%;
	  max-width: 100%;
	}

  .center-text {
    font-size: 22px;
  }

	#about {
	max-width: 60%;
	}

  .center-header {
    max-width: 80%;
  }

  .grid-item {
    font-size: 15pt;
  }

  .grid-item-2 {
    font-size: 15pt;
  }
}

  @media screen and (max-width: 500px) {
	  #about {max-width: 90%;}
	  #row {width: 90%; padding: 0;}
  

  .grid-item {
    font-size: 13pt;
  }

  .grid-item-2 {
    font-size: 13pt;
  }

  .marquee-alternative p {
    font-size: 18px;
    animation-duration: 360s;
  }
  }
